@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;600;700&display=swap');
$body-bg: #231F20;
$body-color: #FAEBD7;
$dark: #231F20;
$light: #FAEBD7;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
#app {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
  }
#mainBox{
    height: 100%;
}

.bigButtonForDrunkPeople{
    height: 20vh;
    width: 80vw;
}
.bitSmallerButtonForDrunkPeople{
    height: 20vh;
    width: 75vw;
}

.formInput{
    background-color: $dark;
    width: 80vw;
    height: 10vh;
    font-size: 2rem;
    color: $light;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid $light;
    outline:0px !important;
    box-shadow: none !important;
}
.formInput:focus{
    -webkit-transition: border 0.3s ease-in-out;
    -moz-transition: border 0.3s ease-in-out;
    -ms-transition: border 0.3s ease-in-out;
    -o-transition: border 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
    border-bottom: 2px solid $success;
    outline:0px !important;
    box-shadow: none !important;
}

p.header{
    color: goldenrod;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2rem;
}


.mainButton {
    color: $light;
    font-weight: 400;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 5rem;
	border: 5px solid #F7CA18;
	transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    @media(max-width: 1300px){
        font-size: 2rem;
    }
}
.mainButton:hover {
	color: $dark;
	background-color: #F7CA18;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
